<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<div>
    <header>
        <div class="contact-box">
            <div class="first">Liên hệ: 0971132155</div>
            <div class="second">SpaPet@gmail.com</div>
            <div class="third">Cửa hàng chúng tôi luôn quan tâm đến chất lượng phục vụ và sự hài lòng của khách hàng</div>
        </div>
        <mat-progress-bar></mat-progress-bar>
        <div class="header-box">
            <div class="container">
                <div class="mobile-view">
                    <mat-icon>menu</mat-icon>
                </div>
                <div class="logo">
                    <a><img src="../../assets/images/logo.png"></a>
                </div>


                <div class="menu">
                    <ul class="list">
                        <li class="contain"><span>TRANG CHỦ</span></li>
                        <li class="contain"><span>SHOP CHÓ/MÈO</span></li>
                        <li class="contain"><span>DỊCH VỤ</span></li>
                        <li class="contain"><span>NHẬN KÝ GỬI</span></li>
                        <li class="contain"><span>LIÊN HỆ</span></li>




                        <li class="contain">
                            <button class="button-login">ĐĂNG NHẬP</button>
                        </li>

                        <li class="contain profile dropdown">
                            <img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/profile-pic-male_2fd3e8.svg"
                                 width="25px">

                            <div class="dropdown-content">
                                <a>Tài khoản của tôi</a>
                                <a>Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cart-icon mobile-view">
                <button mat-stroked-button color="primary">Đăng nhập</button>
            </div>


        </div>
</div>
</header>

<nav></nav>

<article style="width: 70%; height: 500px"></article>

<footer>
    <div class="footer" style="background-color: black; color: white">
        <div class="container">
            <div class="first">
                <h4>Copmany Name</h4>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
                </p>
            </div>
            <div class="second">
                <h4>HELP</h4>
                <ul class="list">
                    <li>Shipping Information</li>
                    <li> Returns & Exchange</li>
                    <li> Terms & Conditions</li>
                    <li> Privacy Policy
                    </li>
                </ul>
            </div>
            <div class="third">
                <h4>THÔNG TIN LIÊN HỆ</h4>
                <p>236B, Lê Văn Sỹ, Quận Tân Bình, TP.HCM</p>
                <p>+84 971 132 155</p>
                <p>SpaPet@gmail.com
                </p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright ©2019 All rights reserved | This application is made with by Piyush</p>
        </div>
    </div>
</footer>
</div>
</body>
</html>